.navbar {
  background: transparent;
}
.navbar ul {
  margin-top: 5rem;
  margin-left: 40%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  position: fixed;
}
.navbar ul li {
  margin: 0;
}
.navbar ul li a {
  color: #333;
  padding: 1rem;
}
.navbar ul li a:hover {
  background: lightgray;
}

@media (max-width: 600px) {
  .navbar ul {
    margin-left: 0;
    display: inline-flex;
    gap: 0.9rem;
  }
  .navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 0.2rem;
  }
}
